<li><a href="{{ url_for('.calendar_redirect') }}">Calendrier</a></li>
<li><a href="{{ url_for('.calendar_day', month=now.format('YYYY-MM'), day=now.format('DD')) }}">Aujourd'hui</a></li>
<li><a href="{{ url_for('.visitors') }}">Visiteurs</a></li>
<li><a href="{{ url_for('.streams_page') }}">Streams</a></li>
