<li>
    L'adhésion est gratuite et à durée indéterminée. Je peux la
    révoquer à tout moment.
</li>
<li>
    Le Conseil d'Administration peut révoquer mon adhésion, entre autres, en cas
    de non respect du règlement.
</li>
<li>
    L'accès au local est réservé aux membres de l'association ainsi qu'à leurs
    invités.
</li>
<li>
    L'accès au local est interdit aux enfants de 12 ans et moins non
    accompagnés.
</li>
<li>
    Tout dommage que moi ou mes invités causent au local ou à ses équipements
    engage ma responsabilité personnelle. Selon le cas, des dédommagements
    peuvent m'être demandés.
</li>
<li>
    Dans le local, je suis courtois et je maintiens un niveau d'hygiène correct.
</li>
<li>
    Je respecte les horaires d'ouverture du local.
</li>
<li>
    Je m'engage à payer pour ma visite ainsi que pour toute consommation que je
    fais dans le local.
</li>
