<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page_title %}{{ page_title }} | {% endif %}LAPAdmin</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background: #f4f4f4;
            height: 100vh;
        }

        a {
            cursor: pointer;
        }


        a:hover {
            text-decoration: underline;
        }

        a:hover.material-icons, a:hover .material-icons {
            text-decoration: none;
        }

        span.badge {
            float: unset;
            color: white;
            font-weight: 300;
            font-size: 0.8rem;
            background-color: #26a69a;
            border-radius: 2px;
        }

        nav .brand-logo {
            left: 0;
            transform: none;
        }

        code {
            background: #f4f4f4;
            padding: 0.2em 0.4em;
            border-radius: 3px;
            font-size: 0.9em;
        }

        .material-icons {
            vertical-align: middle;
            position: relative;
            top: -0.1em;
        }

        .btn .material-icons {
            top: 0;
        }

        .widget {
            max-width: calc(100% - 20px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background: white;
            padding: 1em;
            margin: 1em auto;
        }

        .box {
            padding: 1em;
            background: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 1em;
        }

        .flash-close {
            float: right;
            cursor: pointer;
        }
    </style>
    {% block styles %}{% endblock %}
</head>
<body>
    {% macro nav_links() %}
        <li><a href="{{ url_for('.calendar_redirect') }}">Calendrier</a></li>
        <li><a href="{{ url_for('.calendar_day', month=now.format('YYYY-MM'), day=now.format('DD')) }}">Aujourd'hui</a></li>
        <li><a href="{{ url_for('.visitors') }}">Visiteurs</a></li>
    {% endmacro %}
    <nav>
        <div class="nav-wrapper container">
            <a href="{{ url_for('.index') }}" class="brand-logo">LAPAdmin</a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger right hide-on-large-only">
                <i class="material-icons" aria-label="Menu">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                {{ nav_links() }}
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-nav">
        {{ nav_links() }}
    </ul>
    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=true) %}
        {% macro get_category_class(category) %}
        {% if category == 'error' %}
        red darken-1
        {% elif category == 'warning' %}
        orange darken-1
        {% elif category == 'success' %}
        green darken-1
        {% else %}
        blue lighten-4
        {% endif %}
        {% endmacro %}
        <div class="flash {{ category }} card-panel {{ get_category_class(category) }}">
            <span class="content">
                {{ message | e }}
            </span>
            <span class="flash-close">
                <span class="material-icons icon">close</span>
            </span>
        </div>
        {% endfor %}
    </div>

    {% block content %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            M.Datepicker.init(document.querySelectorAll('.datepicker'), {
                format: 'yyyy-mm-dd',
                firstDay: 1,
            });

            M.Timepicker.init(document.querySelectorAll('.timepicker'), {
                twelveHour: false,
            });

            M.FormSelect.init(document.querySelectorAll('select'));

            M.Sidenav.init(document.querySelectorAll('.sidenav'));

            M.Tooltip.init(document.querySelectorAll('.tooltipped'));

            for (let el of document.querySelectorAll('.flash-close')) {
                el.addEventListener('click', function() {
                    this.parentElement.remove();
                });
            }
        });
    </script>
    {% block scripts %}{% endblock %}

</body>
</html>
